.photo-grid {
    display: grid;
    margin: auto;
    padding-top: 92px;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px 16px;
    max-width: 1184px;
}

@media screen and (max-width: 1210px) {
    .photo-grid {
        max-width: 928px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media screen and (max-width: 955px) {
    .photo-grid {
        padding: 88px 24px 0;
        max-width: 720px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 16px 16px;
    }
}

@media screen and (max-width: 655px) {
    .photo-grid {
        padding: 64px 16px 0;
        max-width: 288px;
        grid-template-columns: 1fr;
        gap: 12px 0;
    }
}