.places__title {
    grid-column: 1/span 1;
    grid-row: 1/ span 1;
    font-family: 'Inter' ,Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 48px;
}
@media screen and (max-width: 1210px) {
    .places__title {
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 955px) {
    .places__title {
        font-size: 42px;
        line-height: 46px;
        margin-bottom: 48px;
        max-width: 340px;
        word-spacing: 100vw;
    }
}

@media screen and (max-width: 655px) {
    .places__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
        min-height: 35px;
        margin-bottom: 32px;
        padding: 0 16px 0;
        word-spacing: 0;
        margin: 0 0 32px;
    }
}