.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1184px;
    padding: 28px 48px 0;
}

@media screen and (max-width: 1210px) {
    .header {
        max-width: 958px;
    }
}

@media screen and (max-width: 955px) {
    .header {
        padding: 28px 24px 0;
        max-width: 720px;
    }
}

@media screen and (max-width: 655px) {
    .header {
        max-width: 288px;
        padding: 16px 16px 0;
    }
}