.places__website {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: end;
}

@media screen and (max-width: 655px) {
    .places__website {
        align-self: flex-start;
        padding-left: 16px;
    }
}